# Environment files
.env
*.env
.env.local
.env*.local
.tinyb

# Binaries
*.exe
*.dll
*.so
*.dylib

# Build artifacts
tmp/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
vercel.dev.json
